/* Align icon to left */

#what .items .item{
  display: flex;
  text-align: left;
}

/* Position icon */

#what .items .item i{
 margin: 0 1.3rem 0 0;
 align-self: center;
}

#contact .map{
  flex: 2;
}